<h1>Deposit</h1>
<h3>Balance: <%= @account.amount %> <%= @account.currency %></h3>



  <%= form_for(:deposit, url: do_deposit_path(@account), local: true) do |form| %>

  <div class="field">
  <%= form.label :amount, style: "  color:#fff; font-weight: 400; font-size : 27px;" %>
  <%= form.text_field :amount, id: :account_amount %>
  </div>
  <div class="actions">
  <%= form.submit %>
  </div>
  <% end %>
  <%= link_to 'Back', root_path , :class => "button1" %>
  <%= link_to 'Destroy', @account, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'button1' %>
